@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot');
  src: local('☺'), url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf') format('truetype'), url('../fonts/Gotham-Bold.svg') format('svg');
  font-style: bold;
  font-weight: 700; }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Filosofia'; }

.filosofia {
  font-family: 'FilosofiaRegular'; }

.gotham {
  font-family: 'Gotham-Bold'; }

.upcase {
  text-transform: uppercase; }

a.subtle:hover {
  color: #666; }

.logo:hover a {
  text-decoration: none; }

.hero {
  min-height: 700px;
  background-image: url(../img/home_hero.png);
  background-size: cover;
  background-position: center center;
  color: #FFF;
  position: relative;
  border-bottom: 60px solid #F8FCFD; }
  .hero.small {
    height: 250px;
    min-height: 0px;
    background-position: center 25%; }
    .hero.small nav {
      padding-top: 15px; }
    .hero.small .logo {
      top: 65%; }
  .hero a, .hero h4 {
    color: #FFF; }
  .hero h3 {
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    letter-spacing: 0.1em;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px; }
  .hero nav {
    text-align: center;
    padding-top: 25px; }
  .hero nav a:hover, .hero nav a.active {
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 5px; }
  .hero .logo {
    text-transform: uppercase;
    font-family: 'Gotham-Bold';
    letter-spacing: 0.3em;
    font-size: 4.5em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateY(-50%) translateX(-50%); }
  .hero .bottom {
    position: absolute;
    top: 100%;
    transform: translateY(-130%);
    text-align: center;
    width: 100%;
    text-transform: uppercase; }
    .hero .bottom h4 {
      letter-spacing: 0.2em;
      font-size: 1.5em;
      margin: 0px;
      padding: 0px; }
    .hero .bottom h2 {
      font-family: 'Gotham-Bold';
      letter-spacing: 0.1em;
      margin: 6px;
      padding: 6px; }
    .hero .bottom h3 {
      margin: 0px;
      padding: 0px; }

p {
  font-size: 1.7em; }

.subtle {
  color: #666; }

h4 {
  color: #444; }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center; }
  .play:hover {
    text-decoration: none; }
  .play img {
    margin-top: 20px;
    margin-bottom: 10px; }
  .play h4 {
    font-size: 1.4em; }
  .play h3, .play h4 {
    color: #FFF;
    padding: 3px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0px;
    padding: 0px; }

.hover-pointer {
  cursor: pointer; }

.card {
  padding-top: 20px !important;
  padding-left: 38px !important;
  padding-right: 38px !important;
  padding-bottom: 20px !important; }
  .card h4 {
    margin-top: 30px;
    margin-bottom: 20px; }

.row.dark {
  background-color: #F8FCFD; }

.bigbg {
  background-size: cover;
  background-position: center center;
  height: 100%; }

.yell-and-tell {
  background-image: url(../img/home_yell_and_tell.png);
  position: relative; }

.spreenkler {
  background-image: url(../img/work_spreenkler.jpg);
  position: relative; }

.rocks {
  background-image: url(../img/home_geodes.jpg);
  height: 100px; }

.berries {
  background-image: url(../img/work_artis_cherries.jpg);
  height: 150px; }

.artis-web {
  background-image: url(../img/work_artis_mountain.png); }

.kate {
  background-image: url(../img/home_patron_sainte.png); }

.artis {
  background-image: url(../img/home_artis.png); }

.business-cards {
  background-image: url(../img/home_rokkincat.png); }

.rokkincat-business-cards {
  background-image: url(../img/work_rokkincat_back.jpg); }

.litebrite {
  background-image: url(../img/work_litebrite.jpg); }

.owl {
  background-image: url(../img/home_owl.png); }

.tall {
  height: 450px; }

.case {
  color: #FFF;
  position: relative; }
  .case .pad {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); }
  .case h1 {
    font-size: 4em;
    letter-spacing: 0.05em;
    margin: 0px; }
  .case h2 {
    font-size: 3em;
    letter-spacing: 0.06em;
    margin: 0px;
    padding-bottom: 30px; }
  .case .btn:hover {
    opacity: 0.8; }

.case.bottom .pad {
  top: inherit;
  bottom: -10%; }

/* vertical alignment styles */
.col-top {
  vertical-align: top; }

.col-middle {
  vertical-align: middle; }

.col-bottom {
  vertical-align: bottom; }

/* fix firefox responsive images */
.img-responsive {
  width: 100%; }

/* columns of same height styles */
.container-xs-height {
  display: table;
  padding-left: 0px;
  padding-right: 0px; }

.row-xs-height {
  display: table-row; }

.col-xs-height {
  display: table-cell;
  float: none; }

@media (min-width: 768px) {
  .container-sm-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-sm-height {
    display: table-row; }
  .col-sm-height {
    display: table-cell;
    float: none; } }

@media (min-width: 992px) {
  .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-md-height {
    display: table-row; }
  .col-md-height {
    display: table-cell;
    float: none; } }

@media (min-width: 1200px) {
  .container-lg-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }
  .row-lg-height {
    display: table-row; }
  .col-lg-height {
    display: table-cell;
    float: none; } }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0px; }

.caret-down {
  width: 15px;
  height: 30px;
  border-width: 15px;
  border-bottom-width: 0px;
  border-top-width: 30px;
  border-color: transparent;
  border-top-color: white;
  position: absolute;
  border-style: solid; }

.caret-right {
  width: 30px;
  height: 15px;
  border-width: 15px;
  border-right-width: 0;
  border-left-width: 30px;
  border-color: transparent;
  border-left-color: white;
  position: absolute;
  border-style: solid; }

.caret-left {
  width: 30px;
  height: 15px;
  border-width: 15px;
  border-left-width: 0px;
  border-right-width: 30px;
  border-color: transparent;
  border-right-color: white;
  position: absolute;
  border-style: solid; }

.hover-bright:hover {
  opacity: 0.7; }

[href="http://mailto.ninja"] {
  display: none !important; }

.mailto.ninja footer nav.toolbar {
  background-color: #5bcdcd !important; }

.mailto.ninja footer nav #send {
  background-color: #217db1 !important; }
  .mailto.ninja footer nav #send:hover {
    background-color: #196086 !important; }

.btn-light {
  background-image: url(../img/btn_casestudy.png);
  height: 49px;
  width: 172px; }
